aliyun-python-sdk-core==2.13.4
aliyun-python-sdk-core-v3==2.13.3
aliyun-python-sdk-kms==2.6.0
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2019.3.9
chardet==3.0.4
crcmod==1.7
Django==2.2.21
django-celery==3.2.2
idna==2.8
jmespath==0.9.4
kombu==3.0.37
oss2==2.6.1
pycryptodome==3.8.1
pytz==2019.1
redis==2.10.6
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.2
