<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Index {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/common/base.css">
    {% block css %} {% endblock %}
</head>
<body class="container">
<!-- Nav -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Swiper</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">精品<span class="sr-only">(current)</span></a></li>
                <li><a href="#">排行</a></li>
                <li><a href="#">行内动态</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group" style="margin-left: 100px">
                    <input type="text" class="form-control" placeholder="作者名或产品编号">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.session.login_user %}
                    <li><img id="avatar"
                             onclick="avatar_upload()"
                             src="{{ request.session.login_user.avatar }}"
                             class="img-circle">
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ request.session.login_user.nickname }} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人中心</a></li>
                            <li><a href="#">我的粉丝</a></li>
                            <li><a href="#">附近好友</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout/">退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/user/login/">登录</a></li>
                    <li><a href="/user/regist/">注册</a></li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--Content -->

<div>
    {% block content %}

    {% endblock %}

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle">Modal title</h4>
            </div>
            <div class="modal-body" id="modalContent">
                ...
            </div>
            <div class="modal-footer">
                <button id="modalCloseBtn" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="modalOKBtn" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div style="background-color:black;color:white;text-align: center">
    <h3>@版本所有</h3>
    <h4>Swpiper@disen.com</h4>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    var image_path;
    function upload_file(image_file) {
        console.log(image_file)
        url = '/user/upload_avatar/'  //上传头像的接口
        var request = new XMLHttpRequest()
        request.open('POST', url, true)
        request.onload = function () {
            console.log(request.status, request.readyState)
            result = request.responseText  // 获取响应的文本
            result = JSON.parse(result)  // 将json字符串转成jsonc对象
            if (result.code == 200) {
                html = $('#modalContent').html()
                html += '<h4>上传成功!</h4><img src="'+result.data.path+'" width=120 height=200>'
                $('#modalContent').html(html)

                image_path = result.data.path;
            }
        }

        // 创建上传表单数据的对象
        var formData = new FormData()  // content-type = multipart/form-data
        formData.append('avatar', image_file)

        // 发送请求
        request.send(formData)

    }

    function avatar_upload() {
        $('#modalTitle').text('上传头像')
        $('#modalContent').html('<input type="file" id="photo" onchange="upload_file(this.files[0])">')
        $('#modalOKBtn').click(function () {
            // 更新头像-调用后端接口将临时上传的头像图片上传到OSS存储空间中
            $.getJSON('/user/update_avatar/?filename='+image_path, function (data) {
                 $('#avatar').attr('src', data.data.url)
            })
            $('#myModal').modal('hide')
        })

        $('#myModal').modal('show')
    }


</script>
{% block js %}
{% endblock %}
</body>
</html>